{%- set server = salt['grains.filter_by']({
  'Debian': {
    'pkgs': ['dtach', 'python-openssl', 'python-kerberos', 'python-imaging'],
    'origins': [],
  },
}, merge=salt['pillar.get']('gateone:server')) %}
